<div class="content-container">

  <div class="container-fluid">

    <div class="d-md-flex h-md-100 align-items-center">

      <!-- First Half -->
      <div class="col-md-6 p-0 h-md-100">

        <nav>
          <ul id="menu">
            <li><a href="" id="seleccione" class="animated fadeInUp">Seleccione Año <i class="fas fa-angle-down"></i></a>
              <ul>
                <li><a href="https://datoslab.cl/obsnieves/1989_Landsat.html" target="iframe1">1989</a></li>
                <li><a href="https://datoslab.cl/obsnieves/1990_Landsat.html" target="iframe1">1990</a></li>
                <li><a href="https://datoslab.cl/obsnieves/1991_Landsat.html" target="iframe1">1991</a></li>
                <li><a href="https://datoslab.cl/obsnieves/1992_Landsat.html" target="iframe1">1992</a></li>
                <li><a href="https://datoslab.cl/obsnieves/1993_Landsat.html" target="iframe1">1993</a></li>
                <li><a href="https://datoslab.cl/obsnieves/1994_Landsat.html" target="iframe1">1994</a></li>
                <li><a href="https://datoslab.cl/obsnieves/1995_Landsat.html" target="iframe1">1995</a></li>
                <li><a href="https://datoslab.cl/obsnieves/1996_Landsat.html" target="iframe1">1996</a></li>
                <li><a href="https://datoslab.cl/obsnieves/1997_Landsat.html" target="iframe1">1997</a></li>
                <li><a href="https://datoslab.cl/obsnieves/1998_Landsat.html" target="iframe1">1998</a></li>
                <li><a href="https://datoslab.cl/obsnieves/1999_Landsat.html" target="iframe1">1999</a></li>
                <li><a href="https://datoslab.cl/obsnieves/2000_Landsat.html" target="iframe1">2000</a></li>
                <li><a href="https://datoslab.cl/obsnieves/2001_Landsat.html" target="iframe1">2001</a></li>
                <li><a href="https://datoslab.cl/obsnieves/2002_Landsat.html" target="iframe1">2002</a></li>
                <li><a href="https://datoslab.cl/obsnieves/2003_Landsat.html" target="iframe1">2003</a></li>
                <li><a href="https://datoslab.cl/obsnieves/2004_Landsat.html" target="iframe1">2004</a></li>
                <li><a href="https://datoslab.cl/obsnieves/2005_Landsat.html" target="iframe1">2005</a></li>
                <li><a href="https://datoslab.cl/obsnieves/2006_Landsat.html" target="iframe1">2006</a></li>
                <li><a href="https://datoslab.cl/obsnieves/2007_Landsat.html" target="iframe1">2007</a></li>
                <li><a href="https://datoslab.cl/obsnieves/2008_Landsat.html" target="iframe1">2008</a></li>
                <li><a href="https://datoslab.cl/obsnieves/2009_Landsat.html" target="iframe1">2009</a></li>
                <li><a href="https://datoslab.cl/obsnieves/2010_Landsat.html" target="iframe1">2010</a></li>
                <li><a href="https://datoslab.cl/obsnieves/2011_Landsat.html" target="iframe1">2011</a></li>
                <li><a href="https://datoslab.cl/obsnieves/2012_Landsat.html" target="iframe1">2012</a></li>
                <li><a href="https://datoslab.cl/obsnieves/2013_Landsat.html" target="iframe1">2013</a></li>
                <li><a href="https://datoslab.cl/obsnieves/2014_Landsat.html" target="iframe1">2014</a></li>
                <li><a href="https://datoslab.cl/obsnieves/2015_Landsat.html" target="iframe1">2015</a></li>
                <li><a href="https://datoslab.cl/obsnieves/2016_Landsat.html" target="iframe1">2016</a></li>
                <li><a href="https://datoslab.cl/obsnieves/2017_Landsat.html" target="iframe1">2017</a></li>
                <li><a href="https://datoslab.cl/obsnieves/2018_Landsat.html" target="iframe1">2018</a></li>
                <li><a href="https://datoslab.cl/obsnieves/2019_Landsat.html" target="iframe1">2019</a></li>
                <li><a href="https://datoslab.cl/obsnieves/2020_Landsat.html" target="iframe1">2020</a></li>
              </ul>
            </li>
          </ul>
        </nav>

        <iframe name="iframe1" src="https://datoslab.cl/obsnieves/1989_Landsat.html" class="animated fadeInUp"
          width="100%" height="65%" style="border: 2px;" allowfullscreen="" loading="lazy">
        </iframe>
      </div>

      <!-- Second Half -->
      <div class="col-md-6 p-0 h-md-100">

        <nav>
          <ul id="menu">
            <li><a href="" class="animated fadeInUp">Seleccione año <i class="fas fa-angle-down"></i></a>
              <ul>
                <li><a href="https://datoslab.cl/obsnieves/1989_Landsat.html" target="iframe2">1989</a></li>
                <li><a href="https://datoslab.cl/obsnieves/1990_Landsat.html" target="iframe2">1990</a></li>
                <li><a href="https://datoslab.cl/obsnieves/1991_Landsat.html" target="iframe2">1991</a></li>
                <li><a href="https://datoslab.cl/obsnieves/1992_Landsat.html" target="iframe2">1992</a></li>
                <li><a href="https://datoslab.cl/obsnieves/1993_Landsat.html" target="iframe2">1993</a></li>
                <li><a href="https://datoslab.cl/obsnieves/1994_Landsat.html" target="iframe2">1994</a></li>
                <li><a href="https://datoslab.cl/obsnieves/1995_Landsat.html" target="iframe2">1995</a></li>
                <li><a href="https://datoslab.cl/obsnieves/1996_Landsat.html" target="iframe2">1996</a></li>
                <li><a href="https://datoslab.cl/obsnieves/1997_Landsat.html" target="iframe2">1997</a></li>
                <li><a href="https://datoslab.cl/obsnieves/1998_Landsat.html" target="iframe2">1998</a></li>
                <li><a href="https://datoslab.cl/obsnieves/1999_Landsat.html" target="iframe2">1999</a></li>
                <li><a href="https://datoslab.cl/obsnieves/2000_Landsat.html" target="iframe2">2000</a></li>
                <li><a href="https://datoslab.cl/obsnieves/2001_Landsat.html" target="iframe2">2001</a></li>
                <li><a href="https://datoslab.cl/obsnieves/2002_Landsat.html" target="iframe2">2002</a></li>
                <li><a href="https://datoslab.cl/obsnieves/2003_Landsat.html" target="iframe2">2003</a></li>
                <li><a href="https://datoslab.cl/obsnieves/2004_Landsat.html" target="iframe2">2004</a></li>
                <li><a href="https://datoslab.cl/obsnieves/2005_Landsat.html" target="iframe2">2005</a></li>
                <li><a href="https://datoslab.cl/obsnieves/2006_Landsat.html" target="iframe2">2006</a></li>
                <li><a href="https://datoslab.cl/obsnieves/2007_Landsat.html" target="iframe2">2007</a></li>
                <li><a href="https://datoslab.cl/obsnieves/2008_Landsat.html" target="iframe2">2008</a></li>
                <li><a href="https://datoslab.cl/obsnieves/2009_Landsat.html" target="iframe2">2009</a></li>
                <li><a href="https://datoslab.cl/obsnieves/2010_Landsat.html" target="iframe2">2010</a></li>
                <li><a href="https://datoslab.cl/obsnieves/2011_Landsat.html" target="iframe2">2011</a></li>
                <li><a href="https://datoslab.cl/obsnieves/2012_Landsat.html" target="iframe2">2012</a></li>
                <li><a href="https://datoslab.cl/obsnieves/2013_Landsat.html" target="iframe2">2013</a></li>
                <li><a href="https://datoslab.cl/obsnieves/2014_Landsat.html" target="iframe2">2014</a></li>
                <li><a href="https://datoslab.cl/obsnieves/2015_Landsat.html" target="iframe2">2015</a></li>
                <li><a href="https://datoslab.cl/obsnieves/2016_Landsat.html" target="iframe2">2016</a></li>
                <li><a href="https://datoslab.cl/obsnieves/2017_Landsat.html" target="iframe2">2017</a></li>
                <li><a href="https://datoslab.cl/obsnieves/2018_Landsat.html" target="iframe2">2018</a></li>
                <li><a href="https://datoslab.cl/obsnieves/2019_Landsat.html" target="iframe2">2019</a></li>
                <li><a href="https://datoslab.cl/obsnieves/2020_Landsat.html" target="iframe2">2020</a></li>
              </ul>
            </li>
          </ul>
        </nav>

        <iframe name="iframe2" src="https://datoslab.cl/obsnieves/2020_Landsat.html" class="animated fadeInUp"
          width="100%" height="65%" style="border: 2px;" allowfullscreen="" loading="lazy"></iframe>
      </div>

    </div>
  </div>
</div>