<div class="sidebar-container">
  <div class="sidebar-logo">
    <a href="https://observatorionieves.cl/"><img src="https://observatorionieves.cl/static/img/logos_obsnieves/logo-horizontal-color-positivo.png" alt=""
      class="animated bounceIn" style="max-height: 150px"></a>
  </div>
  <ul class="sidebar-navigation">
    <li class="header">
      <i class="fas fa-satellite"></i> Visualizadores
    </li>
    <li>
      <a href="https://observatorionieves.cl/visualizadores/landsat/">
        Landsat
      </a>
    </li>
    <li>
      <a href="https://observatorionieves.cl/visualizadores/sentinel/">
        Sentinel
      </a>
    </li>
    <li>
      <a href="https://observatorionieves.cl/visualizadores/modis/">
        MODIS
      </a>
    </li>

    <li class="header"></i><i class="fas fa-satellite-dish"></i>
      Observatorio Satelital de nieves
    </li>
    <div class=container>
      <p class="animated bounceIn">
        En base a imágenes satelitales fusionadas de Landsat 4, 5, 7 y 8 se establece una comparación interanual entre
        los distintos años sobre la cuenca del Río Aconcagua mediante un panel divisorio. La información es recopilada a
        partir de los valores del promedio anual del Indice Normalizado de Nieve (NDSI). Esta interfaz de usuario le
        permite seleccionar los años de interés a analizar, desplegando el panel divisorio donde se visualizará el
        resultado dentro del mapa.
      </p>
    </div>
    <li class="header">
      <i class="fas fa-list-ol"></i> Promedio de presencia de nieve (%)
    </li>
    <div class="container">
      <div class="animated bounceIn"
        style="background: linear-gradient(to right, #FFFFFF, #FFFFF0); color: #CF653D; font-weight: bold; text-align:center; padding: 2px; border: 2px solid #FFFFFF; border-radius: 6px; margin-top: 10px; margin-right:35%; margin-left:35%;">
        0-10</div>
      <div class="animated bounceIn"
        style="background: linear-gradient(to right, #FFFFFF, #FFFFD9); color: #CF653D; font-weight: bold; text-align:center; padding: 2px; border: 2px solid #FFFFFF; border-radius: 6px; margin-right:35%; margin-left:35%;">
        10-20</div>
      <div class="animated bounceIn"
        style="background: linear-gradient(to right, #FFFFD9, #EDF8B1); color: #CF653D; font-weight: bold; text-align:center; padding: 2px; border: 2px solid #FFFFFF; border-radius: 6px; margin-right:35%; margin-left:35%;">
        20-30</div>
      <div class="animated bounceIn"
        style="background: linear-gradient(to right, #EDF8B1, #C7E9B4); color: #CF653D; font-weight: bold; text-align:center; padding: 2px; border: 2px solid #FFFFFF; border-radius: 6px; margin-right:35%; margin-left:35%;">
        30-40</div>
      <div class="animated bounceIn"
        style="background: linear-gradient(to right, #C7E9B4, #7FCDBB); color: #CF653D; font-weight: bold; text-align:center; padding: 2px; border: 2px solid #FFFFFF; border-radius: 6px; margin-right:35%; margin-left:35%;">
        40-50</div>
      <div class="animated bounceIn"
        style="background: linear-gradient(to right, #7FCDBB, #41B6C4); color: #CF653D; font-weight: bold; text-align:center; padding: 2px; border: 2px solid #FFFFFF; border-radius: 6px; margin-right:35%; margin-left:35%;">
        50-60</div>
      <div class="animated bounceIn"
        style="background: linear-gradient(to right, #41B6C4, #1D91C0); color: #CF653D; font-weight: bold; text-align:center; padding: 2px; border: 2px solid #FFFFFF; border-radius: 6px; margin-right:35%; margin-left:35%;">
        60-70</div>
      <div class="animated bounceIn"
        style="background: linear-gradient(to right, #1D91C0, #225EA8); color: #CF653D; font-weight: bold; text-align:center; padding: 2px; border: 2px solid #FFFFFF; border-radius: 6px; margin-right:35%; margin-left:35%;">
        70-80</div>
      <div class="animated bounceIn"
        style="background: linear-gradient(to right, #225EA8, #253494); color: #CF653D; font-weight: bold; text-align:center; padding: 2px; border: 2px solid #FFFFFF; border-radius: 6px; margin-right:35%; margin-left:35%;">
        80-90</div>
      <div class="animated bounceIn"
        style="background: linear-gradient(to right, #253494, #081D58); color: #CF653D; font-weight: bold; text-align:center; padding: 2px; border: 2px solid #FFFFFF; border-radius: 6px; margin-bottom: 10px; margin-right:35%; margin-left:35%;">
        90-100</div>
    </div>
    <div class="sidebar-logo">
      <img src="/img/teleamb.png" alt="Logo TeleAmb" class="animated bounceIn" style="max-height: 150px">
    </div>
  </ul>
</div>







